@media (min-width: 32.5em) {
  body {
    font-size: 16pt;
  }

  header,
  main,
  footer {
    max-width: 960px;
  }

  header {
    border-radius: 10px;
  }

  h1 {
    font-size: 50pt;
  }

  h2 {
    font-size: 16pt;
  }

  footer {
    font-size: 22pt;
    border-radius: 10px;
  }

  footer h3 {
    font-size: 16pt;
  }

  header img {
    float: right;
    padding-right: 20px;
  }
}
