@media (min-width: 32.5em) {
  header,
  main,
  footer {
    max-width: 960px;
  }

  header {
    border-radius: 10px;
  }

  footer {
    font-size: 22pt;
    border-radius: 10px;
  }

  footer h3 {
    font-size: 16pt;
  }
  main {
    margin: 20px auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  main section {
    border: 1px solid black;
    background-color: #d3d3d3;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  main section h3 {
    border-radius: 10px 10px 0 0;
  }

  main section:nth-child(3) {
    grid-column: span 2;
  }
}
