@media only screen and (min-width: 60rem) {
  .navigation {
    float: right;
    display: flex;
    font-size: 17pt;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    clear: both;
  }

  .navigation .nav_list {
    display: block;
    border: none;
    padding: 20px 10px;
  }

  .navigation li:first-child {
    display: none;
  }

  .nav_container ul {
    margin-top: 20px;
    padding-right: 15px;
  }

  header img {
    width: 204px;
    height: auto;
    padding-bottom: 20px;
  }

  footer {
    font-size: 12pt;
  }

  /*-----Home Page-----*/

  .home_page_img_container h2 {
    font-size: 40pt;
  }

  .home_join_link {
    font-size: 25pt;
  }

  .img_column .home_advertisement_links {
    font-size: 18pt;
  }

  /*-----Directory Page-----*/
  div.cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*-----Contact Page-----*/
  .contact_us_info {
    grid-template-columns: 1fr 1fr;
  }

  .contact_map {
    grid-column: 2;
  }

  .contact_us_info .contact_infos {
    grid-column: 1;
  }

  .board_members {
    max-width: 1080px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*-----City Page-----*/

  .current_events {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .current_events section:nth-child(4) {
    grid-column: span 1;
  }

  /*-----Attributions Page-----*/

  .attributions_pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .attributions legend {
    font-size: 18pt;
  }

  .attributions h3 {
    font-size: 18pt;
  }

  .attributions p {
    font-size: 15pt;
  }
}
