@media only screen and (min-width: 60rem) {
  .navigation {
    float: right;
    display: flex;
    /* flex-direction: row; */
    font-size: 16pt;

    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    clear: both;
  }

  .navigation .nav_list {
    display: block;
    border: none;
    padding: 20px 10px;
  }

  .navigation li:first-child {
    display: none;
  }

  ul {
    margin: 20px;
    padding-right: 20px;
  }

  header img {
    width: 204px;
    height: auto;
    padding-bottom: 20px;
  }

  footer {
    font-size: 12pt;
  }

  /* .nav_list {
    border-top: 1px solid white;
    width: 100%;
  } */

  /* .navigation {
    display: flex;
    width: 80%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation li:first-child {
    display: none;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    padding: 0.8rem 1rem;
    align-items: center;
    justify-content: center;
  }

  .home_border_left {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  } */

  /* header img {
    float: left;
  }

  header::after {
    content: "";
    display: table;
    clear: both;
  }

  nav {
    float: right;
    margin: 0 auto;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;

    padding-top: 23px;
    margin-right: 40px;
  }

  nav a {
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 15pt;
    font-family: "Rubik", serif;
  }
  .nav_container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  } */
}
