@media only screen and (min-width: 32.5rem) {
  /* .navigation a {
    font-size: 18pt;
  } */

  .navigation {
    font-size: 18pt;
  }

  footer {
    font-size: 10pt;
  }

  /*-----Home Page-----*/
  .home_information h2 {
    font-size: 25pt;
  }

  div.weatherAlerts h1 {
    font-size: 18pt;
  }

  div.weatherAlerts h2 {
    font-size: 16pt;
  }

  div.weatherAlerts p {
    font-size: 15pt;
  }

  div.weatherAlerts .close {
    font-size: 20pt;
  }

  .home_page_img_container h2 {
    font-size: 28pt;
  }

  .home_join_link {
    font-size: 20pt;
  }

  /* .home_herodiv_img_film::after {
    bottom: 10px;
  } */

  .home_information {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .home_information section:nth-child(1) {
    grid-column: span 1;
  }

  .home_information section:nth-child(2) {
    grid-column: span 2;
  }

  .home_information section:nth-child(3) {
    grid-column: span 3;
  }

  .home_information section:nth-child(4) {
    grid-column: span 3;
  }

  .about_us p {
    font-size: 15pt;
  }

  .contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .city_icons img {
    width: 64px;
  }

  .city_icons {
    margin-bottom: 0px;
  }

  .info .city_info,
  .city_icons .icons {
    font-size: 15pt;
  }

  .city_icons .icons {
    padding-left: 100px;
    padding-top: 0px;
  }

  .weather_sum h2 {
    grid-column: span 2;
    font-size: 25pt;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
  }

  .weather_sum .weather_sum_name {
    grid-column: 1;
    font-size: 15pt;
    font-family: "Red Hat Text", sans-serif;
    color: black;
    text-align: right;
    margin: 5px 0px;
  }

  .weather_sum .weather_sum_input {
    font-size: 15pt;
    font-family: "Red Hat Text", sans-serif;
    grid-column: 2;
    padding-left: 10px;
    text-align: left;
    color: #0d2c2c;
    margin: 5px 0px;
  }

  /* .contact_information {
    clear: left;
  } */

  /* .info .city_info,
  .info .icons {
    padding-left: 100px;
    padding-right: 50px;
  } */

  /* .city_info li h3 {
    padding-top: 33px;
  } */

  /* .img_column {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
  } */

  .img_column:nth-child(1) {
    grid-column: span 1;
    width: 100%;
  }

  .img_column:nth-child(2) {
    grid-column: span 1;
    width: 100%;
  }
  .img_column:nth-child(3) {
    grid-column: span 1;
    width: 100%;
  }

  .img_column .home_advertisement_links {
    font-size: 10pt;
  }

  /*-----Join Page-----*/

  .tab_levels label {
    font-size: 12pt;
    grid-column: auto;
  }

  .tab_levels .tab_info {
    font-size: 10pt;
  }

  .tab_levels .tab_info h2 {
    font-size: 13pt;
  }

  .tab_levels input[type="radio"]:checked + label {
    background: white;
    color: black;
  }

  .tab_levels label:nth-child(5) {
    border-radius: 0px 0px 0px 0px;
  }

  .tab_levels label:nth-child(11) {
    border-radius: 0px 15px 0px 0px;
  }
}
