@media only screen and (min-width: 32.5rem) {
  /* .navigation a {
    font-size: 18pt;
  } */

  .navigation {
    font-size: 18pt;
  }

  footer {
    font-size: 10pt;
  }

  /*-----Home Page-----*/

  .home_page_img_container h2 {
    font-size: 28pt;
  }

  .home_join_link {
    font-size: 20pt;
  }

  /* .home_herodiv_img_film::after {
    bottom: 10px;
  } */
}
