/* font-family: 'Arima Madurai', cursive; */

/* * {
  margin: 0px auto;
} */

header img {
  width: 170px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background: linear-gradient(#17a8a8, #41d4d4, #17a8a8);
  margin: 0;
  height: auto;
  /* padding: 20px 20px; */
}

h1 {
  margin: 0px;
}

.nav_container ul {
  margin: 0px;
  padding-left: 0px;
  padding-top: 10px;
}

.nav_container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
}

.nav_container ul {
  list-style: none;
}

.navigation .nav_list {
  display: block;
  padding: 10px 10px;
}

.nav_container ul li a {
  color: white;
  text-decoration: none;
}

.nav_list {
  border-top: 1px solid white;
  /* width: 100%; */
}

.navigation {
  color: white;
  font-size: 15pt;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.navigation li:first-child {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  border-top: none;
}

.navigation .nav_list {
  display: none;
}

.responsive .nav_list {
  display: block;
}

.responsive .ham {
  color: #03494e;
}

.navigation .active {
  color: #e7745f;
}

.nav_container a:hover {
  color: #03494e;
}

footer {
  background: linear-gradient(#17a8a8, #41d4d4, #17a8a8);
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  font-size: 8pt;
}

/* nav {
  margin: 0 auto;
  background: linear-gradient(#17a8a8, #41d4d4, #17a8a8);
  justify-content: space-between;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15pt;
  font-family: "Rubik", serif;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav a:hover {
  color: white;
  background-color: #83e22a;
}

.responsive li {
  display: block;
}

.responsive .ham {
  background-color: #6dc51b;
  color: white;
}

.navigation .active {
  background-color: #e7745f;
  color: white;
} */

/*-----Home Page-----*/

.home_page {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.home_page_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home_herodiv_img {
  max-width: 100%;
  height: auto;
}

.home_page_img_container .color_overlay {
  width: 100%;
  height: 100%;
  background-color: #ffe2ad70;
  position: absolute;
}

.home_page_img_container h2 {
  font-family: "Arima Madurai", cursive;
  font-weight: 500;
  font-size: 18pt;
  position: absolute;
  padding: 0px 10px;
}

.home_page_img_container h2,
.home_page_img_container .home_join_link {
  z-index: 1;
}

/* .home_page {
  max-width: 1080px;
  margin: 0 auto;
}

.home_figure {
  margin-top: 0px;
  font-family: "Arima Madurai", cursive;
  font-weight: 500;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.home_herodiv_img {
  max-width: 100%;
  height: auto;
}

.home_figure {
  position: relative;
}

.home_figcaption h2 {
  padding: 8px;
  margin: 0px;
}

.home_figcaption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 50px 10px;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
}

.home_herodiv_img_film::after {
  background-color: #ffe2ad70;
  content: "";
  max-height: 543px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */

.home_join_link {
  text-decoration: none;
  color: white;
  background-color: #056e76;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 10pt;
  padding: 12px 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.home_information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 20px 0px;
}

.home_information h2 {
  text-align: center;
}

.about_us {
  border: 2px solid black;
  padding: 10px 30px;
}

.about_us h2 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  text-align: center;
}

.about_us img {
  max-width: 300px;
  height: auto;
  box-sizing: border-box;
}

.about_us p {
  font-family: "Red Hat Text", sans-serif;
  font-size: 12pt;
}

.home_information .weather_forcast_events,
.home_information .contact_information {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16pt;
  border: 2px solid black;
}

/* .home_information .advertisments { */
/* align-items: center;
  justify-content: center; */
/* display: inline-block; */

/* margin-left: auto;
  margin-right: auto; */
/* border: 2px solid black; */
/* } */

/* .home_information div {
  position: relative;
  display: inline-block;
  padding: 10px;
} */

/* * {
  box-sizing: border-box;
} */

.img_column {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}

/* Create three equal columns that sits next to each other */
.img_row::after {
  content: "";
  clear: both;
  display: table;
}

.home_information .advertisments img {
  width: 100%;
  height: auto;

  /* margin-left: auto;
  margin-right: auto; */
}

.home_information .advertisments {
  border: 2px solid black;
}

.weather_sum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #b7f5f5;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 1px solid grey;
  border-radius: 15px;
}

.weather_sum h2 {
  grid-column: span 2;
  font-size: 18pt;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
}

.weather_sum .weather_sum_name {
  grid-column: 1;
  font-size: 11pt;
  font-family: "Red Hat Text", sans-serif;
  color: black;
  text-align: right;
  margin: 5px 0px;
}

.weather_sum .weather_sum_input {
  font-size: 11pt;
  font-family: "Red Hat Text", sans-serif;
  grid-column: 2;
  padding-left: 10px;
  text-align: left;
  color: #0d2c2c;
  margin: 5px 0px;
}

.forecast_title {
  display: block;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  padding-top: 20px;
  font-size: 18pt;
  text-align: center;
  color: black;
}

.col-head1,
.col-head2,
.col-head3,
.col-head4,
.col-head5 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid rgb(44, 44, 44);
  text-align: center;
  background-color: #149090;
  font-size: 18pt;
  color: white;
  font-family: "Red Hat Text", sans-serif;
  border-radius: 10px 10px 0px 0px;
}

.weather_data1,
.weather_data2,
.weather_data3,
.weather_data4,
.weather_data5 {
  display: block;
  padding: 10px 5px;
  font-size: 16pt;
  color: black;
  font-family: "Red Hat Text", sans-serif;
}

.weather_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding-bottom: 25px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 8px;
}

.weather_icon1,
.weather_icon2,
.weather_icon3,
.weather_icon4,
.weather_icon5 {
  max-width: 100%;
  height: auto;
}

.grid-col {
  background-color: white;
  border: 0.75px solid rgb(44, 44, 44);
  text-align: center;
  border-radius: 10px;
}

.contact_information {
  background-color: #b7f5f5;
}

.contact_information h2 {
  text-align: center;
  align-items: center;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 18pt;
}

.info .city_info,
.city_icons .icons {
  list-style: none;

  font-size: 11pt;
  font-family: "Red Hat Text", sans-serif;
}

.info .city_info {
  margin: 20px;
  padding: 0px 30px;
  grid-column: 1;
}

.city_icons .icons {
  padding-left: 40px;
  padding-top: 0px;
  grid-column: 2;
}

.icons div a {
  padding: 0px 8px;
}

.city_icons img {
  box-sizing: border-box;
  width: 48px;
  height: auto;
}

.city_icons {
  margin-bottom: 20px;
}

/* .join_member_title {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
}
.tabContainer {
  width: 100%;
  height: auto;
}
.tabContainer .buttonContainer button {
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 18pt;
  background-color: #eee;
}
.tabContainer .buttonContainer button:hover {
  background-color: #d7d4d4;
}
.tabContainer .tabLevels {
  height: 85%;
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  display: none;
} */

/* [data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
} */

/*-----JOIN PAGE-----*/

.form {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffe2ad;
  box-sizing: border-box;
}

.join_title {
  color: black;
  font-size: 23px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 0px;
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
}

form {
  max-width: 760px;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border: solid 2px black;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px 20px;
}

fieldset legend {
  padding: 5px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

form label,
form div label,
form div {
  font-size: 16px;
  font-family: "Red Hat Text", sans-serif;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea,
form input[type="submit"] {
  width: 100%;
  max-width: 760px;
  border-radius: 6px;
}

.city_input,
.state_input,
.country_input {
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
}

form input[type="url"] {
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
}

form input[type="number"] {
  width: 100%;
  max-width: 100px;
  border-radius: 6px;
}

/* form input[type="date"],
form input[type="range"],
form select[name="region"] {
  -webkit-appearance: none;
}

form input[list="storm_types"],
form input[type="date"],
form select[name="region"],
form input[placeholder="mm/dd/yyyy"] {
  -webkit-appearance: visible;
  background-color: white;
  border: solid 2px black;
  width: 100%;
} */

.business_description {
  height: 150px;
}

.city_input,
.state_input,
.country_input,
form input[type="url"],
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form textarea,
form input[type="submit"] {
  width: calc(100% - 12px * 2);
  padding: 12px;
}

form input:required,
textarea {
  border: solid 2px black;
  border: solid 2px black;
}

.asterisks {
  color: black;
}

/* .storm_severity {
  display: flex;
  align-items: center;
  font-family: "Comfortaa", Lato, sans-serif;
  margin-right: 10px;
}

#severityvalue {
  padding-left: 12px;
} */

form label.radio_options {
  display: block;
  padding: 8px 15px;
}

input[type="radio"] {
  transform: scale(2);
  margin-right: 15px;
  -webkit-appearance: visible;
  margin-bottom: 20px;
}

input[type="radio"]:hover,
.radio_options:hover {
  cursor: pointer;
}

/* [type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #abd636;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #abd636;
} */

.tab_levels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: auto;
  box-sizing: border-box;
}
.tab_levels input[type="radio"] {
  display: none;
}
.tab_levels label {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 10pt;
  padding: 18px;
  background: #0d7e82;
  color: white;
  text-align: center;
  grid-column: span 2;
}

.tab_levels label:nth-child(2) {
  border-radius: 15px 0px 0px 0px;
}

.tab_levels label:nth-child(5) {
  border-radius: 0px 15px 0px 0px;
}

.tab_levels .tab_info h2 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 10pt;
}

.tab_levels .tab_info {
  padding: 25px;
  background-color: #fff;
  order: 1;
  display: none;
  grid-column: span 4;
  font-size: 8pt;
  color: black;
  border-radius: 0px 0px 15px 15px;
}

.tab_levels ul li {
  padding: 0px 0px 20px 0px;
}

.tab_levels input[type="radio"]:checked + label + .tab_info {
  display: block;
}

.tab_levels input[type="radio"]:checked + label {
  background: #b7f5f5;
  color: black;
}

.tab_levels label:hover {
  cursor: pointer;
}

form label span.title_top,
form div span.title_top,
form div.title_top {
  display: block;
  padding: 8px 0;
}

form input[type="submit"] {
  background-color: black;
  color: white;
  width: 100%;
  margin: 20px 0px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 18px;
  padding: 20px 0px;
  border-radius: 15px;
}

form input[type="submit"]:hover {
  background-color: gray;
  cursor: pointer;
}

/* .thanks_h {
  color: black;
  font-size: 28px;
  padding-bottom: 0px;
}

.thanks_p {
  text-align: center;
  font-family: "Comfortaa", Lato, sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 20px 20px;
}

.thanks_background {
  background-color: #e0a78f;
} */

/*-----Directory PAGE-----*/
.directory_page {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
