@media only screen and (min-width: 32.5rem) {
  header img {
    width: 100px;
  }

  .banner {
    font-size: 15pt;
  }

  .headings h1 {
    font-size: 35pt;
  }
  .motto {
    font-size: 12pt;
  }

  .navigation a {
    font-size: 18pt;
  }

  main h2 {
    font-size: 28pt;
  }

  .weather_sum h2 {
    font-size: 14pt;
  }

  .weather_sum p {
    font-size: 8pt;
  }

  .forecast_title {
    display: block;
    font-family: "Comfortaa", Lato, sans-serif;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    color: #f05e2d;
  }

  .col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid rgb(44, 44, 44);
    text-align: center;
    background-color: #047476;
    font-size: 18pt;
    color: white;
    font-family: "Rubik", serif;
  }

  .weather_data {
    display: block;
    padding: 0 5px 5px;
    font-size: 16pt;
    color: black;
    font-family: "Comfortaa", Lato, sans-serif;
  }

  .weather_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding-bottom: 25px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  .weather_emoji {
    max-width: 100%;
    height: auto;
  }

  .grid-col {
    background-color: white;
    border: 0.75px solid rgb(44, 44, 44);
    text-align: center;
  }

  .article_area {
    max-width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .article_area img {
    float: right;
  }

  .article_area img {
    clear: right;
  }

  .article_area img {
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d88e6f;
  }

  .map {
    float: left;
    display: block;
    margin: 25px;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgb(53, 52, 52);
  }

  .map {
    clear: left;
  }

  .info .city_info,
  .info .icons {
    padding-left: 100px;
    padding-right: 50px;
  }

  .city_info li h3 {
    padding-top: 33px;
  }

  footer {
    font-size: 10pt;
  }

  footer span {
    font-size: 12pt;
  }

  /*-----Gallery Page-----*/

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .gallery figure figcaption {
    font-size: 14pt;
    padding: 12px 12px;
  }

  /*-----Storm Center Page-----*/

  .storm_center_title {
    font-size: 28px;
  }

  fieldset legend {
    font-size: 25px;
  }

  .thanks_h {
    font-size: 35px;
  }

  .thanks_p {
    font-size: 25px;
  }

  form label,
  form div label,
  form div {
    font-size: 20px;
  }

  form input[type="submit"] {
    font-size: 25px;
  }
}
