@media (min-width: 32.5em) {
  nav ul {
    display: flex;
    align-items: center;
    flex: auto;
  }
  nav ul li {
    flex: 1 100%;
  }
  nav a:hover {
    display: block;
  }

  main h2 {
    font-size: 30pt;
  }

  nav ul li a {
    font-size: 20pt;
  }

  header {
    font-size: 23pt;
  }

  main {
    max-width: 767px;
  }

  main p {
    font-size: 25px;
  }

  main h3 {
    font-size: 22pt;
  }

  main ul li {
    font-size: 18pt;
  }
}
